/* Created by: Lily C
* Created on: Feb 16 2023
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #e00bc4;
}

h2 {
  background-color: rgb(212, 0, 255);
  color: hsl(271deg 233% 232%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #9a62df;
  color: #fff;
}
