/* Created by: Lily C
* Created on: Feb 16 2023
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #6c6f7d;
}

h2 {
  background-color: rgb(217, 217, 217);
  color: hsl(0deg, 0%, 50%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #414958;
  color: #fff;
}

h5 {
  color:#d9d9d9; 
}

h6 {
  color: #991e1e; 
}